# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches:
      - '**'
      - '!master'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - run: sleep 30
      - name: cloudflare-preview-url
        uses: zentered/cloudflare-preview-url@v1.3.0
        id: cloudflare_preview_url
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_EMAIL: ${{ secrets.CLOUDFLARE_ACCOUNT_EMAIL }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        with:
          cloudflare_project_id: 'tech-radar'
          wait_until_ready: true
      - name: get-url
        run: echo "https://${{ steps.cloudflare_preview_url.outputs.preview_url }}"
        env: 
          TEST_URL: https://${{ steps.cloudflare_preview_url.outputs.preview_url }}

  e2e-tests:
    name: Run Cucumber tests
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Cucumber Run
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version}}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
      - name: Install
        run: npm install
      - name: Run Cucumber Tests 
        run: TEST_URL=https://${{ jobs.build.steps.get-url.env.TEST_URL }} npm run cucumberTest